In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
import seaborn as sns
import networkx as nx
from datetime import datetime
from itertools import product
from datetime import datetime, timedelta
import numpy as np
import scipy as sp
from scipy.special import comb
import random
import copy
import matplotlib.dates as mdates
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import datetime 
import matplotlib.dates as mdates 
import arviz as az 
import pymc as pm 
import scipy.stats
import numpyro
import xarray as xr

In [3]:
data = pd.read_parquet('2020-10-12_cx_BL_rvalue.parquet')

In [4]:
data

       location     target  sample     value
0             1 2020-10-12       1  1.454925
1             1 2020-10-13       1  1.128447
2             1 2020-10-14       1  1.233054
3             1 2020-10-15       1  1.731313
4             1 2020-10-16       1  1.672382
...         ...        ...     ...       ...
23995        16 2020-10-22     100  2.184804
23996        16 2020-10-23     100  2.164266
23997        16 2020-10-24     100  2.190139
23998        16 2020-10-25     100  2.223340
23999        16 2020-10-26     100  2.201493

[24000 rows x 4 columns]